body {
    margin: 0;
}

.Container {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30vh;
}

.campo {
    margin: 10px;
}

.campo input{
    padding: 1em;
    border-radius: 10px;
    margin-left: 5px;
}